* {
    text-align: center;
}

body {
    background-color: #E8B92D;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}

.jumbotron {
    background-color: #f5f5f5;
    width: 90%;
    margin: 0 auto;
}

.col-md-4 {
    margin: 0 auto;
}

.userInputDiv {
    margin: 0 auto;
}

img {
    width: 10%;
    height: 10%;
}

span {
    padding-left: 15px;
}

.row {
    margin-top: 10px;
}